:root {
  --clr-bcg: #fffefb;
  --clr-font: #282c35;
  --clr-grey: #64748b;
  --clr-testing: #f1f1f1;
  --clr-shadow: rgba(0, 0, 0, 0.1);
  --light-shadow: inset 3px 3px 10px #cccbc8;
  --nav-image:linear-gradient(to right,#d4eaf7,#b6ccd8);
}

.dark-theme {
  /* --clr-bcg: #282c35; */
  /* --clr-bcg: #141720; */
  --clr-bcg: #0F1C2E;
  --clr-font: #fff;
  --clr-grey: #cbd5e1;
  /* --clr-testing: #303542; */
  --clr-testing: #374357;
  --light-shadow: 0;
  --nav-image:linear-gradient(to right,rgb(31, 58, 95), rgb(77, 100, 141));
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 0.3s linear;
}

.nav {
  background-image: var(--nav-image);
  color: var(--clr-font);
}

.stat-item {
  background-color: var(--clr-testing);
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}

.navbar-brand {
  color: var(--clr-font);
}

.progress {
  width: 80%;
}

.player-img {
  max-width: 40%;
  aspect-ratio: 16/9;
  border-radius:50%;
  object-position: center;
}

.content-area {
  margin: 0rem 6rem;
}

.search {
  width: 200px;
  height: 30px;
  background-color: var(--clr-testing);
  color:var(--clr-font);
  border: none;
  border-radius: 5px;
}

.search + button {
  font-size: 20px;
  border: none;
  background: none;
  color: var(--clr-font);
}

#mode {
  border: 0;
  font-size: 30px;
  background: none;
  color: var(--clr-font);
}

.subh{
  font-size:1.6rem;
}

.heading{
  font-size:2rem;
}

.card-info{
  font-size: 0.9rem;
  margin-top: 1.75rem;
}