:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
  --clr-grey: #64748b;
  --clr-testing: rgb(240, 232, 235);
  --clr-shadow: rgba(0, 0, 0, 0.1);
  --light-shadow: 0 5px 15px var(--clr-shadow);
}

.dark-theme {
  /* --clr-bcg: #282c35; */
  --clr-bcg: #141720;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
  --clr-grey: #cbd5e1;
  --clr-testing: #303542;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 0.3s linear;
}

.nav {
  background-color: var(--clr-testing);
  color: var(--clr-font);
}

.stat-item {
  background-color: var(--clr-testing);
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}

.navbar-brand {
  color: var(--clr-font);
}

.progress {
  width: 80%;
}

.player-img {
  margin: auto;
  padding: 10px;
  max-width: 40%;
  height: auto;
}

.content-area {
  margin: 10px;
}

.search {
  width: 200px;
}

.search + button {
  font-size: 20px;
  border: none;
  background: none;
  color: var(--clr-font);
}

#mode {
  border: 0;
  font-size: 30px;
  background: none;
  color: var(--clr-font);
}

.subh{
  font-size:1.75rem;
}

.card-info{
  font-size:1rem;
}